@import "../scss//_breakpoints";

.succeedContainer {
  //   background-color: #ffffff;
  background-color: rgba(245, 247, 255, 0.85);
  width: 100%;
  height: 100vh;

  @include md {
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .succeedWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    gap: 40px;
    background-color: rgba(245, 247, 255, 0.85);
    width: 100%;
    height: 100vh;

    img {
      width: 322;
      height: 315px;
    }

    @include md {
      display: flex;
      flex-direction: row;
      background-color: rgba(245, 247, 255, 0.85);
      width: 80%;
      height: 576px;
      border-radius: 30px;

      img {
        width: auto;
        height: auto;
      }
    }

    .left {
      width: 100%;
      display: flex;
      justify-content: center;

      @include md {
        width: 50%;
        padding: 60px;
        display: flex;
        justify-content: center;
      }
    }
    .right {
      width: 100%;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;

      @include md {
        width: 50%;
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0px 5px;
      }

      h1 {
        font-family: " Abdoullah Ashgar EL-kharef";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        color: #2d2d2d;

        @include md {
          font-style: normal;
          font-weight: 400;
          font-size: 42px;
          line-height: 120%;
          display: flex;
          align-items: center;
          text-transform: capitalize;
          color: #2d2d2d;
        }
      }
      p {
        font-family: "Mulish";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #1f1249;
        margin-top: 40px;
        text-decoration: none;

        @include md {
          font-family: "Mulish";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          display: flex;
          align-items: center;
          text-decoration-line: underline;
          color: #1f1249;
          flex-grow: 0;
        }
      }
    }
  }
}
